# Supabase Keys (Ex: https://xyz.supabase.co)
NEXT_PUBLIC_SUPABASE_URL=YOUR_SUPABASE_URL
NEXT_PUBLIC_SUPABASE_ANON_KEY=YOUR_SUPABASE_ANON_KEY

# Mercado Pago Keys
MERCADO_PAGO_ACCESS_TOKEN=YOUR_MP_ACCESS_TOKEN

# Email Automation (Resend)
RESEND_API_KEY=YOUR_RESEND_KEY

# Website URL for webhooks
NEXT_PUBLIC_SITE_URL=http://localhost:3000
